.VerticalMenu {
  z-index: 10;
  display: inline-flex;
  width: 220px;
  height: 100vh;
  //border-right: 1px solid gray;
  padding-left: 12px;
  padding-top: 24px;
  background: rgb(135,160,207);
  background: linear-gradient(120deg, rgba(135,160,207,1) 0%, rgba(254,248,248,1) 62%);
  -webkit-box-shadow: 10px 10px 46px 0px rgba(104,121,135,1);
  -moz-box-shadow: 10px 10px 46px 0px rgba(104,121,135,1);
  box-shadow: 10px 10px 46px 0px rgba(104,121,135,1);
  span {
    padding-left: 10px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .brand-container {
    /*stitching*/
    outline: 1px dashed #98abb9;
    outline-offset: -5px;

    background-color: #556068;
    height: 42px;
    width: 190px;

    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
  }
}